{% extends 'base.html' %}


{% block title %}
Портал администраторов
{% endblock title %}

{% block body %}
{% comment %} {% csrf_token %} {% endcomment %}
<p align="right">
    login пользователя: {{user}} <br>
    id пользователя: {{user.pk}}<br> 
    Имя: {{user.first_name|default:'не указано'}}<br>
    Фамилия: {{user.last_name|default:'не указано'}} <br>
    email: {{ user.email|default:'не указан' }}<br>
</p>
<h1 align="right">
<p  class="btn btn-warning"> <a href= "{% url 'adminportal:book' %}" > Книги, справочники </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'custom_user:list-user' %}"> Пользователи </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'order:list-order' %}"> Заказы </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'book:export-list-book' %}"> Выгрузить список книг из формата СSV </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'book:import-list-book' %}"> Загрузить список книг из формата СSV </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'book:list-book' %}"> ?! </a></p><br>
</h1>
{% endblock body %}