{% extends 'base.html' %}
{% block title %}
Портал администраторов
{% endblock title %}

{% block body %}

<p align="left">
    login пользователя: {{user}} <br>
    id пользователя: {{user.pk}}<br> 
    {% if user.is_staff %}
    Статус: персонал<br>
    {% else %}
    Статус: клиент<br>
    {% endif %}
  
    Имя: {{user.first_name|default:'не указано'}}<br>
    Фамилия: {{user.last_name|default:'не указано'}} <br>
    email: {{ user.email|default:'не указан' }}<br>
</p>
<h1 align="left">
  {% if user.is_staff  %}
  <p  class="btn btn-warning"> <a href= "{% url 'adminportal:adminpannel' %}" > Портал администраторов </a></p><br>
  {% endif %}


{% if user.extenduser.pk %}
<p  class="btn btn-warning"> <a href= "{% url 'custom_user:detail-user' pk=pk %}" > Информация о профиле/Редактировать  </a></p><br>
{% else %}
<p  class="btn btn-warning"> <a href= "{% url 'custom_user:create-user'  %}" > Добавьте расширенные данные  </a></p><br>
{% endif %}



<p  class="btn btn-warning"> <a href= "{% url 'order:user-list-order' %}"> Мои заказы </a></p><br>
{% comment %} 
<p  class="btn btn-warning"> <a href= "{% url 'order:list-order' %}"> Заказы </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'book:list-book' %}"> Загрузить список книг из формата СSV </a></p><br>
<p  class="btn btn-warning"> <a href= "{% url 'book:list-book' %}"> ?! </a></p><br> {% endcomment %}
</h1>
{% endblock body %}