{% extends 'base.html' %}


{% block title %}
Подробнее
{% endblock title %}

{% block body %}
    <h1>{{operation}}</h1>
    {% if user.is_staff %}
    ID: {{object.pk}}<br>
    {% endif %}
    Название: {{object.name}}<br>
    Описание: {{object.description |default:'Отсутствует'}}<br>
    <h3>Книги серии</h3>
    <table class="table table-bordered border-primary">
        <tr>
          <td> Название </td>
          <td> Цена  </td>
          <td> Заказать  </td>
          <td> Количество  </td>
        </tr>
        {% for obj in object.seriesbook.all %}
        <tr>
          <td><a href= "{% url 'book:detail-book' pk=obj.pk %}" >  {{obj.name}} </a> </td>
          <td> {{obj.price}} </td>
        <td>
          <form action="{% url 'order:cart' %}" method="post">
            {% csrf_token %}
             <button type="submit" class="btn btn-success">Добавить в корзину</button> 
             </td>
             <td>
              Количество:<input type="number" name="quantity" value="1" min="1">
            <input type="hidden" name="book_pk" value="{{object.pk}}">
        </form>
      </td>
    </tr>
        {% endfor %}
        </table> 
{% endblock body %}
{% comment %} seriesbook, genrebook  publishingbook {% endcomment %}