{% extends 'base.html' %}


{% block title %}
Подробнее
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>{{operation}}</h1>
    {{object.pk}}<br>
    {{object.name}}<br>
    {{object.description}}<br>
    <h3>Книги автора</h3>
    {% comment %} <table class="table table-bordered border-primary">
        <tr>
          <td> Название </td>
          <td> Цена  </td>
        </tr>
        {% for obj in some_list %}
        <tr>
          <td><a href= "{% url 'book:detail-book' pk=obj.pk %}" >  {{obj.name}} </a> </td>
          <td> {{obj.price}} </td>
        </tr>
        {% endfor %}
        </table>  {% endcomment %}
{% endblock body %}
{% comment %} seriesbook, genrebook  publishingbook {% endcomment %}