{% extends 'base.html' %}


{% block title %}
Список авторов
{% endblock title %}

{% block body %}


    <h1>Список авторов</h1>
    <table class="table table-bordered border-primary">
    {% for obj in object_list %}
      <tr>
        {% if user.is_staff %}
        <td><a href= "{% url 'guide:update-author' pk=obj.pk %}"> {{obj.pk}} </a> </td>
        {% endif %}
        <td><a href= "{% url 'guide:detail-author' pk=obj.pk %}">{{obj.surname}} {{obj.name}} {{obj.birthday}} {{obj.nation}}</a></td>
        {% if user.is_staff %}
        <td><a href= "{% url 'guide:delete-author' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить</a></td>
        {% endif %}
      </tr> 
    {% endfor %}
    </table>        
    {% endblock body %}