{% extends 'base.html' %}


{% block title %}
Список авторов
{% endblock title %}

{% block body %}


    <h1>Список авторов</h1>
    <table class="table table-bordered border-primary">
    {% for obj in object_list %}
      <tr>
        <td><a href= "{% url 'guide:update-author' pk=obj.pk %}"> {{obj.pk}} </a> </td>
        <td>{{obj.surname}} {{obj.name}} {{obj.birthday}} {{obj.nation}}</td>
        <td><a href= "{% url 'guide:delete-author' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-x-circle"></i></a></td>
      </tr> 
    {% endfor %}
    </table>        
    {% endblock body %}