{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Oформление заказа
{% endblock title %}

{% block body %}

<h1>Оформление заказа</h1>
{% comment %} <table class = 'table'>
<tr>
    <td>Название</td>
    <td>Количество</td>
    <td>Цена за книгу</td>
    <td>Цена за позицию</td>
    <td>Удалить</td>
</tr>    
{% for book_cart in cart.cart.all  %}
<tr>   
  <td>{{book_cart.book}}</td>
  <td>{{book_cart.quantity}}</td>
  <td>{{book_cart.price}}</td>
  <td>{{book_cart.price_per_position}}</td>
  <td>
    <a href="{% url 'order:delete-position' book_cart.pk %}" class="btn btn-danger">Удалить</a>
  </td> 
</tr>
{% endfor %}
<tr>
    <td>Итого</td>
    <td colspan="2"></td>
    <td>{{cart.total_price}}</td>
    <td></td>
</tr>  {% endcomment %}
<form action="{% url 'order:make-an-order' %}" method="post">
  {% csrf_token %}
  {{form |crispy}}
  <button type="submit" class="btn btn-success">Заказать</button>
</form>


{% endblock body %}