{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Информация о заказе
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>Информация о заказе</h1>
   
   <div>
   ID заказа: {{object.pk}}<br>
   № корзины: {{object.cart.pk}}<br>
   заказчик: {{object.cart.user}}<br>
   Статус: {{object.status}}<br>
   Имя покупателя: {{object.name}}<br>
   Номер телефона: {{object.telefon_number}}<br>
   Адрес доставки: {{object.adress}}<br>
   email: {{object.email_adress}}<br>
   Дата оформления заказа: {{object.created_date}}<br>
   Дата последнего изменения заказа: {{object.updated_date}}<br>
   Дополнительная информация: {{object.additional_information}}<br>
</div>
<div>
  <h3>Товары в заказе</h3>
<table class="table table-bordered border-primary">
<tr>
  {% if user.is_staff %}
  <td> pk book in cart</td>
  {% endif %}

  <td> Название </td>
  <td> Количечство </td>
  <td> Цена за единицу </td>
  <td> Цена за позицию </td>
  {% if user.is_staff %}

  <td> Удалить </td>
  {% endif %}
</tr>
{% for book in object.cart.cart.all %}
<tr>
  {% if user.is_staff %}
  <td>{{book.pk}}</td>
  {% endif %}
  <td> {{book}} </td>
  <td> {{book.quantity}} </td>
  <td> {{book.price}} </td>
  <td> {{book.price_per_position}} </td>
  {% if user.is_staff %}
  <td> <a href= "{% url 'order:delete-position' pk=book.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить</a> </td>
  
  {% endif %}
</tr>
{% endfor %}
</table>
<p>Общая сумма заказа :{{object.cart.total_price}} </p>
{% if user.is_staff %}
<h3><a href= "{% url 'order:staff-update-order' pk=object.pk %}" class="btn btn-success"> Редактировать статус заказа/контактые данные заказчика  </a> </h3>
{% else %}
<h3><a href= "{% url 'order:update-order' pk=object.pk %}" class="btn btn-success"> Редактировать контактые данные  </a> </h3>
{% endif %}

{% if object.order_comment.all.count == 0  %}
    <p>Комментариев нет<br>
    </p>
    {% else %}
    <p>Комментарии к заказу({{object.order_comment.all.count}}):</p>
    <ul>
    {% for comment in object.order_comment.all %}
    <li>
        {% if user.is_staff %}
        pk комментария: {{comment.pk}}
        {% endif %}
        автор:{{comment.author}} <br>
        {{comment.create_date}} <br>
        сообщение:{{comment.message}} <br>
        <br>
        
        {% if user.is_authenticated != user.is_staff %}
        {% if user == comment.author %}
         проверка1 <a href= "{% url 'comments:delete-comment-order' pk=comment.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить комментарий</a><br><br>
        {% endif %}
        {% else %}
        проверка2 <a href= "{% url 'comments:delete-comment-order' pk=comment.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить комментарий</a><br><br>
        {% endif %}
         
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form |crispy}}
        <input type="submit" class="btn btn-success" value="Ok">
        </form>
    </p>
</div>


{% endblock body %}

