{% extends 'base.html' %}


{% block title %}
Мои Заказы
{% endblock title %}

{% block body %}


    <h1>Мои Заказы</h1>
    <table class="table table-bordered border-primary">
      <tr>
        <td>Изменить данные заказа</td>
        <td> Детали корзины </td>
        <td> Статус </td>
        <td> дата создания </td>
        <td> Дата редактирования </td>
      </tr>
    {% for obj in object_list %}
        {% if obj.order %}
         <tr>
           <td><a href= "{% url 'order:update-order' pk=obj.order.pk %}">Данные заказа №{{obj.order.pk}}  </a> </td>  
           <td><a href= "{% url 'order:detail-order' pk=obj.order.pk %}">Корзина №{{obj.pk}} </a></td> 
           <td><a href= "{% url 'order:staff-update-order' pk=obj.order.pk %}" class="btn btn-success"> {{obj.order.status}} </a></td>
           <td>{{obj.order.created_date}} </td>
           <td>{{obj.order.updated_date}}</td>
        
    
        

        {% comment %} <td><a href= "{% url 'order:update-order' pk=obj.order.pk %}"> {{obj.pk}} </a> </td>  
        <td><a href= "{% url 'order:detail-order' pk=obj.order.pk %}">{{obj.cart}} </a></td> 
        <td><a href= "{% url 'order:staff-update-order' pk=obj.order.pk %}" class="btn btn-success"> {{obj.status}} </a></td>
        <td>{{obj.created_date}} </td>
        <td>{{obj.updated_date}}</td>  {% endcomment %}
        {% comment %} <td><a href= ""> {{obj.pk}} </a> </td>  
        <td><a href= "">{{obj.cart}} </a></td>
        <td><a href= "">{{obj.user}} </a></td>
        <td><a href= "">{{obj.order}} </a></td> {% endcomment %}
        {% comment %} <td><a href= "">{{obj.order.pk}} </a></td>
        <td><a href= "">{{obj.pk}} </a></td>
        <td><a href= "">{{obj.order.status}} </a></td>
        <td>{{obj.order.created_date}} </td>
        <td>{{obj.order.updated_date}}</td> {% endcomment %}
        {% endif %}
    {% endfor %}
    </table>        
    {% endblock body %}