{% extends 'base.html' %}


{% block title %}
Мои Заказы
{% endblock title %}

{% block body %}


    <h1>Мои Заказы</h1>
    <table class="table table-bordered border-primary">
      <tr>
        <td>Изменить данные </td>
        <td> Данные заказа </td>
        <td> Статус </td>
        <td> дата создания </td>
        <td> Дата редактирования </td>
      </tr>
    {% for obj in object_list %}


      <tr>

        <td><a href= "{% url 'order:update-order' pk=obj.pk %}"> {{obj.pk}} </a> </td>  
        <td><a href= "{% url 'order:detail-order' pk=obj.pk %}">{{obj.cart}} </a></td> 
        <td><a href= "{% url 'order:staff-update-order' pk=obj.pk %}" class="btn btn-success"> {{obj.status}} </a></td>
        <td>{{obj.created_date}} </td>
        <td>{{obj.updated_date}}</td> 

    {% endfor %}
    </table>        
    {% endblock body %}