{% extends 'base.html' %}


{% block title %}
{{operation}}
{% endblock title %}

{% block body %}
    <h1>{{operation}}</h1>
    <h2>{{alarm_message}}</h2>
    {{object.pk}}<br>
    {{object.name}}<br>

   {% if object.author_book.all.count != 1 %}
   Авторы:<br>
   {% else %}
   Автор:<br>
   {% endif %}
   {% for author in object.author_book.all %}
   <ul>
    <li>
   {{author}}<br>
    </li>
   </ul>
   {% endfor %}

    {{object.genre_book}}<br>
    {{object.price}}<br>            
    <form method = 'post'>
        {%csrf_token%}           
        <button type="submit" class="btn btn-danger">ДА</button>
    </form>
{% endblock body %}