{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Информация о книге
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>Информация о книге</h1>
   
   <img src="{{ book.cover.url }}" >
   <div>
   ID книги: {{object.pk}}<br>
   Название: {{object.name}}<br>
   {% if object.author_book.all.count != 1 %}
   Авторы:<br>
   {% else %}
   Автор:<br>
   {% endif %}
   {% for author in object.author_book.all %}
   <ul>
    <li>
   <a href="{% url 'guide:detail-author' pk=author.pk %}"> {{author}} </a><br>
    </li>
   </ul>
   {% endfor %}
   <a href="{% url 'guide:detail-genre' pk=object.genre_book.pk %}">  Жанр: {{object.genre_book}}</a><br>
   <a href="{% url 'guide:detail-series' pk=object.series_book.pk %}"> Серия: {{object.series_book}}</a> <br>
   <a href="{% url 'guide:detail-publishing' pk=object.publishing_book.pk %}"> Издательство: {{object.publishing_book}}</a> <br>
   Дата добавления: {{object.add_to_catalog}}<br>
   Количество в наличии: {{object.quantity_available}}<br>
   Вес книги: {{object.weight}} гр.<br>
   Количество страниц: {{object.quantity_of_pages}}<br>
   Переплет {{object.binding}}<br>
   Формат: {{object.book_format}}<br>
   Год издательства: {{object.year_of_publication}}<br>
   ISBN: {{object.isbn}}<br>
   Возрастные ограниччения: {{object.age_restrictions}}<br>
   Рейтинг: {{object.rating}}<br>
   Цена: {{object.price}} BYN<br>
</div>
<br>
<div>
    <form action="{% url 'order:cart' %}" method="post">
        {% csrf_token %}
         <button type="submit" class="btn btn-success">Добавить в корзину</button>  Количество:<input type="number" name="quantity" value="1" min="1"><br>
        <input type="hidden" name="book_pk" value="{{object.pk}}">
    </form>
</div>
<br>
<div>
    {% if object.book_comment.all.count == 0  %}
    <p>Комментариев нет<br>
     Оставьте комментарий первым!
    </p>
    {% else %}
    <p>Комментарии к книге({{object.book_comment.all.count}}):</p>
    <ul>
    {% for comment in object.book_comment.all %}
    <li>
        {% if user.is_staff %}
        pk комментария: {{comment.pk}}<br>
        {% endif %}
        автор:{{comment.author}} <br>
        {{comment.create_date}} <br>
        сообщение:{{comment.message}} <br>
        <br>
        {% if user.is_authenticated %}
        
            {% if user.is_authenticated != user.is_staff %}
                {% if user == comment.author %}
                    <a href= "{% url 'comments:delete-comment-book' pk=comment.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить комментарий</a><br><br>
                {% else %}
        {% comment %} <a href= "{% url 'comments:delete-comment-book' pk=comment.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить комментарий</a><br><br> {% endcomment %}
                {% endif %}
            {% else %}
            <a href= "{% url 'comments:delete-comment-book' pk=comment.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить комментарий</a><br><br>
            {% endif %}
            
        {% endif %}
        
         
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>
        {% if user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form |crispy}}
        <input type="submit" class="btn btn-success" value="Ok">
        </form>
        {% else %}
        <p>Зарегистрируйтесь чтобы оставлять комментарии </p>
        {% endif %}
    </p>
</div>

{% endblock body %}