{% extends 'base.html' %}


{% block title %}
Информация о книге
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>Информация о книге</h1>
   
   <img src="{{ book.cover.url }}" >
   <div>
   ID книги: {{object.pk}}<br>
   Название: {{object.name}}<br>
   Автор: {{object.author_book}}<br>
   Жанр: {{object.genre_book}}<br>
   Серия: {{object.series_book}}<br>
   Издательство: {{object.publishing_book}}<br>
   Дата добавления: {{object.add_to_catalog}}<br>
   Количество в наличии: {{object.quantity_available}}<br>
   Вес книги: {{object.weight}}<br>
   Количество старниц: {{object.quantity_of_pages}}<br>
   Переплет {{object.binding}}<br>
   Формат: {{object.book_format}}<br>
   Год издательства: {{object.year_of_publication}}<br>
   ISBN: {{object.isbn}}<br>
   Возрастные ограниччения: {{object.age_restrictions}}<br>
   Рейтинг: {{object.rating}}<br>
   Доступен к заказу: {{object.availability}}<br>
</div>
{% endblock body %}