{% extends 'base.html' %}


{% block title %}
Список авторов
{% endblock title %}

{% block body %}


    <h1>Список авторов</h1>
    <table class="table table-bordered border-primary">
    {% for obj in object_list %}
      <tr>
        <td><a href= "{% url 'book:update-book' pk=obj.pk %}"> {{obj.pk}} </a> </td>
        <td>{{obj.name}} {{object.author_book}} {{object.genre_book}} {{obj.quantity_available}}</td>
        <td><a href= "{% url 'book:delete-book' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить</a></td>
      </tr> 
    {% endfor %}
    </table>        
    {% endblock body %}