{% extends 'base.html' %}


{% block title %}
Книжный магазин
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>Главная страница</h1>
    <div class="card" style="width: 18rem;">
        <img src="{{ book.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Название:{{book.name}}</h5>
          <p class="card-text">Автор: {{book.author_book}}</p>
          <p class="card-text">Цена: {{book.price}}</p>
          <p class="card-text">Рейтинг: {{book.rating}}</p>
          <a href="{% url 'book:detail-book' pk=book.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    
{% endblock body %}