{% extends 'base.html' %}


{% block title %}
Книжный магазин
{% endblock title %}

{% block body %}
{% csrf_token %}
    <h1>Главная страница</h1>
<strong> Новинки</strong>
    {% for books in book  %}
    <div class="card" style="width: 18rem;">
        <img src="{{ books.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Название:{{books.name}}</h5>
          <p class="card-text">Автор: {{books.author_book}}</p>
          <p class="card-text">Жанр: {{books.genre_book}}</p>
          <p class="card-text">Цена: {{books.price}} BYN</p>
          <p class="card-text">Рейтинг: {{books.rating}}</p>
          <a href="{% url 'book:detail-book' pk=books.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
 {% endfor %}
{% endblock body %}